#debug files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.vsidx

tmp

.vs/*
ProgramAssist_Distributable/x64/Debug/*
*.idb
*.idb
*.log
ProgramAssist_Distributable/tmp
*.ipch
x64/Debug/*
