#debug files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.vsidx

tmp

x64\Debug\*

.vs\*
ProgramAssist_Distributable/x64/Debug/vc143.idb
*.idb
*.idb
*.log
ProgramAssist_Distributable/tmp
*.ipch
x64/Debug/ProgramAssist_Distributable.exe
x64/Debug/ProgramAssist_Distributable.pdb
.vs/ProgramAssist_Distributable/v17/Browse.VC.opendb
.vs/ProgramAssist_Distributable/v17/Browse.VC.db-wal
.vs/ProgramAssist_Distributable/v17/Browse.VC.db-shm
.vs/ProgramAssist_Distributable/v17/Browse.VC.db
.vs/ProgramAssist_Distributable/v17/.suo
.vs/ProgramAssist_Distributable/v17/.suo
.vs/ProgramAssist_Distributable/v17/Browse.VC.db
